/* Project */

.section-header {
  text-align: center;
  background-color: var(--primary-color);
  height: 4rem;
  margin: 0;
  padding: 1rem;
}

.spotlight {
  padding: 2rem 0;
}

.spotlight .image {
  width: 100%;
  margin: 0 1rem;
}

.spotlight .image img {
  border-radius: 10px;
}

.stack p span {
  background-color: #373f45;
  color: #fff;
  font-weight: 500;
  padding: 2px 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.links {
  display: flex;
  gap: 2rem;
}

.custom-icon svg {
  transform: rotate(45deg);
}

@media screen and (max-width: 980px) {
  .body {
    background-color: #000;
  }

  .links {
    justify-content: center;
  }
}

@media screen and (max-width: 805px) {
  .icons li {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 736px) {
  .spotlight .image {
    margin: 0;
  }
  .spotlight .image img {
    width: 90%;
    margin: auto;
  }

  #banner {
    height: 100vh;
  }

  .icon.major {
    height: calc(4em + 2px);
    width: calc(4em + 2px);
  }

  .custom-icon svg {
    height: 2.4rem;
    width: 2.4rem;
  }
}

@media screen and (max-width: 680px) {
  #banner {
    height: 95vh;
  }
}
